body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header{
    background: #222;
    color: white;
    padding: 20px 0;
}

main{
    padding: 20px;
}

footer{
    margin-top: 40px;
    font-size: 14px;
    color: #555;
}